[submodule "cangjie_compiler"]
	path = cangjie_compiler
	url = https://github.com/CJPLUK/cangjie_compiler.git
[submodule "cangjie_stdx"]
	path = cangjie_stdx
	url = https://github.com/CJPLUK/cangjie_stdx.git
[submodule "cangjie_runtime"]
	path = cangjie_runtime
	url = https://github.com/CJPLUK/cangjie_runtime.git
[submodule "cangjie_tools"]
	path = cangjie_tools
	url = https://github.com/CJPLUK/cangjie_tools.git
[submodule "cangjie_test"]
	path = cangjie_test
	url = https://github.com/CJPLUK/cangjie_test.git
[submodule "cangjie_test_framework"]
	path = cangjie_test_framework
	url = https://gitcode.com/Cangjie/cangjie_test_framework.git
[submodule "third_party/third_party_flatbuffers"]
	path = third_party/third_party_flatbuffers
	url = https://gitcode.com/openharmony/third_party_flatbuffers.git
	branch = master
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://gitcode.com/Cangjie/llvm-project.git
	branch = main
[submodule "third_party/third_party_bounds_checking_function"]
	path = third_party/third_party_bounds_checking_function
	url = https://gitcode.com/openharmony/third_party_bounds_checking_function.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://gitcode.com/openharmony/third_party_json.git
[submodule "third_party/sqlite3"]
	path = third_party/sqlite3
	url = https://gitcode.com/openharmony/third_party_sqlite.git
